@import "~@coreui/coreui/scss/coreui.scss";

canvas {
    display: block;
    // transform: scale(8);
    // transform-origin: top left;
}

.container-fluid {
    max-width: 640px;
}

#description {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}
